extends templates/layout

block content 
  img(src="img/gulp-logo.svg")
  h1 Gulp
  //- img(src="img/cloud.jpg")
  //- img(src="img/pug.png")
  //- img(src="img/gulp.png")
  //- img(src="img/redwood.jpg")