extends templates/layout

block content 
  .gulp-image
    img(src="img/gulp-logo.svg")
  .images
    img(src="img/pug-logo.svg")
    img(src="img/scss-logo.png")
    img(src="img/es6-logo.png")
    img(src="img/ts-logo.png")
    img(src="img/imagemin-logo.png")
    img(src="img/babel-logo.svg")
  h1 A Toolkit to automate & Enhance your Workflow